.animation {
    width: 40%;
    height: 200px;
    position: relative;
    background: #000;
}

.animation .item {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 5%;
}

.animation .item1  {
    top: 5px;
    background: #F00;
}

.animation .item2 {
    top: 60px;
    background: #0F0;
}

.animation .item3 {
    top: 115px;
    background: #00F;
}

@keyframes fadeIn {
    0% { left: 0; }
    100% { left: calc(100% - 50px); }
}

.fade-in-cbezier {
    transition: all 2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0); 
}

.fade-in-linear {
    transition: all 2s;
    transition-timing-function: linear; 
}

